/* src/styles/colors.css */

:root {
    /* logo */
    --color-logo-50: #22c55e;
    
    /* Primary Colors */
    --color-primary-50: #f3e8ff;
    --color-primary-100: #e9d5ff;
    --color-primary-200: #d8b4ff;
    --color-primary-300: #c084fc;
    --color-primary-400: #a855f7;
    --color-primary-500: #9333ea;
    --color-primary-600: #7e22ce;
    --color-primary-700: #6b21a8;
    --color-primary-800: #581c87;
    --color-primary-900: #4c1d95;
  
    /* Secondary Colors */
    --color-secondary-50: #f0fdf4;
    --color-secondary-100: #dcfce7;
    --color-secondary-200: #bbf7d0;
    --color-secondary-300: #86efac;
    --color-secondary-400: #4ade80;
    --color-secondary-500: #22c55e;
    --color-secondary-600: #16a34a;
    --color-secondary-700: #15803d;
    --color-secondary-800: #166534;
    --color-secondary-900: #14532d;
  
    /* Neutral Colors */
    --color-neutral-50: #fafafa;
    --color-neutral-100: #f4f4f5;
    --color-neutral-200: #e4e4e7;
    --color-neutral-300: #d4d4d8;
    --color-neutral-400: #a1a1aa;
    --color-neutral-500: #71717a;
    --color-neutral-600: #52525b;
    --color-neutral-700: #3f3f46;
    --color-neutral-800: #27272a;
    --color-neutral-900: #18181b;

    /* Panel */

    /* Card */
    --color-card-50: bg-slate-700;
    --color-card-100: bg-slate-800;
    --color-card-200: bg-slate-900;
    --color-card-300: bg-slate-950;
    --color-card-400: bg-slate-950;


  }